<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>02-16</title>
    <style>
        #list {
            width: 400px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        #list td,
        #list th {
            border: 1px solid black;
            text-align: center;
        }
        
        #list>thead>tr {
            color: yellow;
            background-color: purple;
        }
    </style>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>

<body>
    <div id="exmaple">
        <p>
            <!-- 국가명을 입력할 필드는 v-model 디렉티브를 이용해 양방향 바인딩. -->
            국가명 : <input type="text" v-model="countryname" placeholder="국가명" />
        </p>
        <table id="list">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>국가명</th>
                    <th>수도</th>
                    <th>지역</th>
                </tr>
            </thead>
            <tbody id="contacts">
                <!-- 배열 데이터에 의해 반복할 tr요소를 v-for 디렉티브로 처리.-->
                <tr v-for="c in filtered">
                    <td>{{c.no}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.capital}}</td>
                    <td>{{c.region}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        var model = {
            countryname: "",
            countries: [{
                no: 1,
                name: "미국",
                capital: "워싱턴DC",
                region: "america"
            }, {
                no: 2,
                name: "프랑스",
                capital: "파리",
                region: "europe"
            }, {
                no: 3,
                name: "영국",
                capital: "런던",
                region: "europe"
            }, {
                no: 4,
                name: "중국",
                capital: "베이징",
                region: "asia"
            }, {
                no: 5,
                name: "태국",
                capital: "방콕",
                region: "asia"
            }, {
                no: 6,
                name: "모로코",
                capital: "라바트",
                region: "africa"
            }, {
                no: 7,
                name: "라오스",
                capital: "비엔티안",
                region: "asia"
            }, {
                no: 8,
                name: "베트남",
                capital: "하노이",
                region: "asia"
            }, {
                no: 9,
                name: "피지",
                capital: "수바",
                region: "oceania"
            }, {
                no: 10,
                name: "솔로몬 제도",
                capital: "호니아라",
                region: "oceania"
            }, {
                no: 11,
                name: "자메이카",
                capital: "킹스턴",
                region: "america"
            }, {
                no: 12,
                name: "나미비아",
                capital: "빈트후크",
                region: "africa"
            }, {
                no: 13,
                name: "동티모르",
                capital: "딜리",
                region: "asia"
            }, {
                no: 14,
                name: "멕시코",
                capital: "멕시코시티",
                region: "america"
            }, {
                no: 15,
                name: "베네수엘라",
                capital: "카라카스",
                region: "america"
            }, {
                no: 16,
                name: "서사모아",
                capital: "아피아",
                region: "oceania"
            }]
        }

        var clist = new Vue({
            el: "#exmaple",
            data: model,
            computed: {
                /* 텍스트 필드에 입려한 값은 countryname에 즉시 반영되고, 국가 정보 리스트는 filtered 계산형 속성에 의해 필터링된 데이터만 나타나게 됨.
                   cf) 배열의 filter 메서드 : 배열의 아이템 중 조건을 만족하는 아이템을 모아서 새로운 배열을 만들어 리턴하는 기능 수행.
                       함수를 인자로 전달, 이 함수는 두개의 인자를 전달받는데 첫번째 인자가 배열의 item, 두번째 인자가 인덱스 번호.
                */
                filtered: function() {
                    //cf. 여기서 this는 Vue객체이지만 콜백 함수 안쪽에서의 this는 전역 객체(Global Object. 브라우저 환경에선 window객체)를 참조하기에 
                    //콜백함수 이전에 Vue 인스턴스의 데이터를 변수에 저장해 둔다.
                    var cname = this.countryname.trim();
                    return this.countries.filter(function(item, index) {
                        if (item.name.indexOf(cname) > -1) { //indexOf 메서드를 이용해 문자열을 포함하고 있는 경우에만 true리턴. 
                            return true; //true인 값들만 모아 새로운 배열을 만들어 리턴한다. 
                        }
                    });
                }
            }
        });
    </script>
</body>

</html>